{
  "name": "{{connector_name}}",
  "config": {
    "connector.class": "org.apache.iceberg.connect.IcebergSinkConnector",
    "tasks.max": "1",

    "topics": "{{topics}}",

    "transforms": "pos",
    "transforms.pos.type": "org.apache.iceberg.connect.transforms.KafkaMetadataTransform",
    "transforms.pos.field_name": "_pos",
    "transforms.pos.nested": "true",

    "iceberg.tables": "{{iceberg_tables}}",
    "iceberg.tables.route-field": "_pos.topic",
    "iceberg.tables.auto-create-enabled": "false",
    "iceberg.tables.evolve-schema-enabled": "true",

    "iceberg.control.commit.interval-ms": "60000",
    "iceberg.control.topic": "control-iceberg-{{topic_prefix}}"
  }
}
